# ============================================
# SERVIDOR
# ============================================

# ============================================
# VAPID KEYS (Web Push Notifications)   version11 app script
# ============================================
# Estas son las mismas claves que usas en tu frontend
VAPID_PUBLIC_KEY=BMXmnILhCWhTwBr5AmneyfSF0y6xoRQZS-EQ9orgPhWvfbB7hh7iFTp1gkQWEOspA5eLpF0Rfpz03lKlhkSxmKg
VAPID_PRIVATE_KEY=TYAevxqynkqkcSZzqX_0EPsK-xaqtb5qjAQT6r3U9f0
#  BIEN - con mailto:
VAPID_SUBJECT=mailto:solucionventasconfiables@gmail.com

# ============================================
# GOOGLE APPS SCRIPT (tu backend de datos)
# ============================================
GAS_URL=https://script.google.com/macros/s/AKfycbwIiA3LB_C1mITpOFMH7IhGglOr7I0oQF20i24BrSmCdOLYttbmDXbnwnl4kEXr6F3f2Q/exec
PORT=80
NODE_ENV=development
